nav {
  width: 100%;

  a {
    display: inline-block;
    background-color: aquamarine;
    cursor: pointer;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    font-weight: bold;
  }

  a + a {
    margin-left: 20px;
  }
}
